/*..............*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 2250px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 65px;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

h2 {
    display: flex;
    font-size: 30px;
}

main {
    display: flex;
    width: 100%;
    height: 2005px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.section1 {
    height: 337px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
}

.search-bloc {
    display: flex;
    height: 50px;
    margin: 0;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    border-top: 3px solid rgb(220, 220, 220);
}

.fa-map-marker-alt {
    display: flex;
    font-size: 16px;
    padding-top: 14px;
}

#search {
    display: flex;
    padding-left: 15px;
    font-weight: bold;
    font-size: 14px;
    border: transparent;
    background-color: rgb(234, 234, 234);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 0;
    width: 80%;
}

.section1-subtitle {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.explorer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20%;
    padding-top: 10px;
}

.button {
    display: flex;
    width: 60%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 25px;
    background: linear-gradient( #FF79DA, #9356dc);
    box-shadow: 5px 5px 10px rgb(212, 212, 212);
    color: white;
}

.button:hover {
    background: lighten;
    opacity: 0.8;
    box-shadow: 5px 5px 1px rgb(212, 212, 212);
}

.section2 {
    display: flex;
    height: 400px;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 5%;
}

.section2-title {
    display: flex;
    font-size: 25px;
}

.functions-bloc {
    display: flex;
    height: 63%;
    padding-left: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.function {
    display: flex;
    width: 93%;
    height: 70px;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    background-color: rgb(246, 246, 246);
    box-shadow: 5px 5px 10px rgb(232, 232, 232);
}

.function-3 {
    display: flex;
    width: 93%;
    height: 70px;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    background-color: rgb(245, 237, 255);
    box-shadow: 5px 5px 10px rgb(232, 232, 232);
}

.function-number {
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #9356dc;
    align-items: center;
    justify-content: center;
    margin-left: -12px;
    font-size: 14px;
    color: white;
}

.fa-mobile-alt {
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 20px;
}

.fa-list {
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 20px;
}

.fa-store {
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 20px;
    color: #9356dc;
}

.section3 {
    display: flex;
    flex-direction: column;
    height: 1240px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(246, 246, 246);
}

.section3-title {
    display: flex;
    font-size: 25px;
    padding-top: 5%;
}

.cards-container {
    display: flex;
    height: 88%;
    flex-direction: column;
    justify-content: space-between;
}

.card-link {
    display: flex;
    width: 100%;
    height: 255px;
    flex-direction: column;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 5px 7px 5px rgb(231, 231, 231);
    border-radius: 15px;
}

.card-image-container {
    display: flex;
    width: 100%;
    height: 185px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.restaurant-image {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.new-restaurant-text {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    width: 80px;
    height: 30px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 123, 50);
}

.card-text-container {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-name-location {
    display: flex;
    width: 60%;
    padding-left: 10px;
    flex-direction: column;
}

.card-name {
    display: flex;
    margin: 0;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.card-location {
    display: flex;
    margin: 0;
}

.card-heart {
    display: flex;
    width: 40%;
    justify-content: right;
    align-items: center;
}

.fa-heart {
    display: flex;
    padding-right: 30px;
    font-size: 22px;
    font-weight: lighter;
    overflow: hidden;
    position: relative;
}

.fa-heart::before {
    content: ¨;
    position: absolute;
    top: 22px;
    left: 0;
    height: 100%;
    height: 100%;
    background: #9356dc;
}

.fa footer {
    display: flex;
    height: 210px;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 5px;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80%;
}

li {
    display: flex;
    flex-direction: row;
}

.footer-text {
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.footer-link {
    text-decoration: none;
    color: white;
}